In [2]:
pip install scipy

Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scipy) (1.21.6)
You are using pip version 18.1, however version 23.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install stats

Requirement already satisfied: stats in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.1.2a0)
You are using pip version 18.1, however version 23.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Import libraries for analysis
import pandas as pd 
from scipy import stats

We conducted a test on the customer's likelyhood to move through different parts of a feature. With the data from the experiment results, we need to determine which of the features has the most time spent and click through rate (CTR). The first step to do that is to import the results from the experiment into a dataframe

In [3]:
#import the dataset and view it 
df = pd.read_csv('https://github.com/Pelumioluwa/MBAN6110Class/blob/main/Class_code/experiment_dataset.csv?raw=true')
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

The second step is some data cleaning. The data is clean, we just need to remove the unnamed column and check the data info to confirm that the data is clean

In [4]:
df.drop('Unnamed: 0', axis=1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [5]:
#check that the unnamed column has been removed 
df.head()

   Age   Location   Device    Variant  Time Spent       CTR
0   62  Location2  Device2    Control   13.928669  0.084776
1   18  Location1  Device1  Variant B   11.310518  0.096859
2   21  Location2  Device1  Variant B   24.842100  0.097630
3   21  Location1  Device3  Variant B   20.061300  0.109783
4   57  Location1  Device2  Variant B   34.495503  0.068579

From the Dataset of the experiment results, we have identified that there are 3 types of variants in the experiment.

In [6]:
#Identify how many types of variants there in the experiment 
df.groupby('Variant')['Device'].describe()

          count unique      top freq
Variant
Control     340      3  Device3  119
Variant A   330      3  Device3  119
Variant B   330      3  Device2  129

The next step is to evaluate the dataframe(df) with ANOVA to compare the mean variation of the 3 groups (Control, Variant A and Variant B). To do this, we break it down into two steps. 
Step 1: Evaluate the time spent by the three groups
Step 2: Evalutate the click through rate (CTR) of the three groups

In [7]:
# Evaluating the time spent
variantA = df[df['Variant']=='Variant A']['Time Spent']
variantB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.f_oneway(variantA, variantB, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In ANOVA, we have two hypothesis (null and alternative). The null hypothesis states that the mean of all three variants are the same and there is no variation. The alternative hypothesis states the mean of all three variants are not the same and there are variations.The p value obtained from ANOVA analysis for time spent is significant and the p > 0.05. Therefore, the null hypothesis is rejected. This means that all the variants are not the same. The variants experiments had effect on the time spent.

In [8]:
# Evaluating the Click through Rate (CTR)
variantA = df[df['Variant']=='Variant A']['CTR']
variantB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.f_oneway(variantA, variantB, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

For the click through rate (CTR),the p value obtained from ANOVA analysis is significant and  p > 0.05. Therefore, the null hypothesis is rejected. This means that all the variants are not the same. The variants experiments had effects on the CTR.

Further to this, we would also conduct a t-test to compare the effects of the experiment on the different variants

In [10]:
# Comparing the time spent

variantA = df[df['Variant']=='Variant A']['Time Spent']
variantB = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.ttest_ind(variantA, control)
p_val_2 = stats.ttest_ind(variantB, control)
p_val_3 = stats.ttest_ind(variantA, variantB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.678817539420908, pvalue=0.000253477101476526)

The t-test has two hypothesis. The null which assumes that the two means are equal and the alternate hypothesis which assumes that the two means are not the same. The t-score is the ratio of the difference between the two means. High t-score shows that there is a large difference and a small t-score shows that there are some similarities. From above, we can see that null hypothesis for the control group and both variants needs to be rejected. The means are not the same and there are signitficant differences among the control and variant A and the control and variant B. However, from the test between the variants, we need to accept the null hypothesis for variant A and B as the p-value < 0.05. Therefore, the means are the same. Also, the t-score among both variants is low. So this means there are little to no significant difference between both groups

In [11]:
# Evaluating the Click through Rate (CTR)

variantA = df[df['Variant']=='Variant A']['CTR']
variantB = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.ttest_ind(variantA, control)
p_val_2 = stats.ttest_ind(variantB, control)
p_val_3 = stats.ttest_ind(variantA, variantB)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

From the above, we would have to reject the null hypothesis for all three comparisons. It shows that the mean of all three variants are not the same and there are significant differences among all variants when compared against themselves.

In [12]:
#Check the mean to see which variant work
df.groupby('Variant')[['Time Spent']].mean()

           Time Spent
Variant
Control     20.070781
Variant A   24.805547
Variant B   23.343783

After the analysis above, we determined that there were effects from the different tests conducted. Therefore we want to determine which of the variants had the most effects. From the above, we can tell that variant A had the most effects on time spent. Therefore variant A resulted in higher time spent among the sample size.

In [13]:
#Check the mean to see which variant work
df.groupby('Variant')[['CTR']].mean()

                CTR
Variant
Control    0.098554
Variant A  0.120269
Variant B  0.108933

While for the effect of Click through rate, we can determine from the above that variant A had the most effect on the click through rate (sample size went through most of the features).

Recommendation to the Business and Engineering.

From the review of our results, we can see that variant A has the most effects on time spent and click through rate (CTR). I would recommend that we adopt and deploy Variant A to a larger audience. Variant A shows that it increases customer engagement with the indpendent features and also the overall time spent. From a business prespective, we can tell that variant A increases customer engagement. Therefore it increases revenue, customer satisfaction and customer retention. 

Roll-out plan

I would suggest we roll-out the new feature to a larger audience and gradually to cover our overall customer base. The new variant A worked successfully with our sample size. However, we have to gradually integrate the new variant A into the lives of our customers so utilization can come more naturally with no distruption.